/* 3.3 */
h1 {
  text-align: center;
  margin-top: 20px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

/* 3.4 */
.form {
  text-align: center;
  margin-top: 50px;
}

/* 3.5 */
#username:focus,
#password:focus,
#isAustralian:focus,
#reason:focus {
  border-color: #ff6347;
  background-color: #ffebe8;
}

/* 3.6 */
select[id='gender'] {
  background-color: #d3d3d3;
}
